{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MicroXchange</title>
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'bower_components/bootstrap-star-rating/css/star-rating.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/screen.css' %}" rel="stylesheet"/>
</head>
<body
        class="normal"
        data-lat="{{ input_offer.lat|stringformat:".10f" }}"
        data-lng="{{ input_offer.lng|stringformat:".10f" }}"
        data-radius="{{ input_offer.radius|stringformat:".1f" }}"
>
<nav class="navbar navbar-my navbar-fixed-top" id="nav">
    <div class="container">
        {% include 'web/navbar.html' %}
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="fixed-alert alert alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

<footer>
    <div class="container">
        <p class="text-center">
            <a href="{% url 'page' 'terms' %}">{% trans 'Terms' %}</a> |
            <a href="{% url 'page' 'how-it-works' %}">{% trans 'How it works?' %}</a> |
            <a href="{% url 'page' 'contact' %}">{% trans 'Contact' %}</a>
        </p>
    </div>
</footer>

{% if show_cookies %}
    <div id="privacy-policy">
        <p>
            {% trans 'By continuing to browse this website, you agree to our use of cookies.' %}
            <a href="#" id="allow-cookies-button" class="btn btn-my inline-btn"><span>{% trans 'Agree' %}</span></a>
        </p>
    </div>
{% endif %}

{% include 'web/modals.html' %}

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-star-rating/js/star-rating.min.js' %}"></script>
<script {# async defer #}
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Wa05QdGga7M2mLeCJzUtpRB2U7hHE8c&libraries=places"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>