{% extends 'web/base.html' %}
{% load static %}

{% block content %}

    <div class="container colored-box">
        <h1>How it works?</h1>
        <h2>Offer statuses</h2>
        <img src="{% static 'images/state-diagram.svg' %}" alt="">
        <hr/>
        <p>Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam
            vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at
            tellus.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
            Curabitur
            aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.</p>
    </div>
{% endblock %}