{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container colored-box">
        <h1>{% trans 'How it works?' %}</h1>
        <p>{% trans 'This aplication allows people to bid or demand to personally exchange a certain amount of money from one currency to another.' %}</p>

        <h2>{% trans 'Possible offer statuses' %}</h2>
        {% with 'images/state-diagram-'|add:request.LANGUAGE_CODE|add:'.png' as image_static %}
            <img src="{% static image_static %}" alt="">
        {% endwith %}
    </div>
{% endblock %}