{% load i18n %}
{% load web_extras %}

{% if other_user_feedback and other_user_feedback|is_feedback_visible or user_feedback %}
    <div class="colored-box">
        <h2>{% trans 'Feedbacks of this offer' %}</h2>
        <hr class="darker"/>
        {% if user_feedback %}
            <p>
                <strong>{% trans 'Your feedback:' %}</strong>
                {{ user_feedback.stars|print_stars }}<br>
                {% if not user_feedback|is_feedback_visible %}
                    {% trans 'This feedback is not visible to other users' %}<br />
                {% endif %}
                {{ user_feedback.comment }}
            </p>
        {% endif %}
        {% if other_user_feedback %}
            <p>
                <strong>{{ other_user_feedback.user_created.get_full_name }}:</strong>
                {{ other_user_feedback.stars|print_stars }}<br>
                {{ other_user_feedback.comment }}
            </p>
        {% endif %}
    </div>
{% endif %}