{% load web_extras %}
{% load i18n %}

<div class="colored-box">
    <h2>{% trans 'Your history with user' %}</h2>
    <hr class="darker"/>
    {% for offer in history_with_user %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
        {% endif %}
    <div class="col-md-6 offer-box">
        <div class="relative">
            <a href="{% url 'offer_detail' offer.id %}" class="absolute-link"></a>
            <h4>{{ offer|format_offer_currency_from }} to {{ offer|format_offer_currency_to }}</h4>
            <p>
                <span class="label label-status">{{ offer.status.title }}</span> |
                <span class="glyphicon glyphicon-time"></span> {{ offer.created_at|date:"j.n.Y H:i" }}
            </p>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
    {% endfor %}
</div>