{% load web_extras %}
{% load i18n %}
{% load thumbnail %}
{% load static %}

<div class="colored-box">
    <h1>
        {% trans 'User rating' %}
    </h1>
    <p><span class="glyphicon glyphicon-star icon-my-star"></span> {{ stars }} / 5,0</p>
{#    <table>#}
{#        <tr>#}
{#            <td>1x</td>#}
{#            <td>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>1x</td>#}
{#            <td>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>1x</td>#}
{#            <td>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>1x</td>#}
{#            <td>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>1x</td>#}
{#            <td>#}
{#                <span class="glyphicon glyphicon-star icon-my-star"></span>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
</div>